<!DOCTYPE html>
<html>
<head th:replace="~{presentation/Fragmentos :: head('Nueva Contraseña')}"></head>
    <body style="background-color: #080f15; min-height: 100vh; display: flex; flex-direction: column;">
        <!-- Navegador -->
        <nav style="background-color: rgb(35, 46, 46);">
            <ul class="nav nav-tabs w-100">
            <li class="nav-item">
                <a class="nav-link" href="MenuPartePublica.html">
                    <i class="fa-solid fa-briefcase" style="color:rgb(10, 202, 154)"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="MenuPartePublica.html" style="color:rgb(10, 202, 154)">Bolsa de Empleo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="BuscarPuestos.html" style="color:rgb(10, 202, 154)">Buscar Puestos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="RegistroEmpresa.html" style="color:rgb(10, 202, 154)">Registro Empresa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="RegistroOferente.html" style="color:rgb(10, 202, 154)">Registro Oferente</a>
            </li>
            <li class="nav-item ms-auto">
                <a class="nav-link" href="Login.html" style="color:rgb(10, 202, 154)">Login</a>
            </li>
            </ul>
        </nav>

        <main class="flex-grow-1 d-flex align-items-center justify-content-center">
            <div style="width: 350px;">
                <div class="card" style="background-color: rgb(35,46,46); border-color: #4a5f5f;">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <i class="fa-solid fa-user-check" style="color:rgb(10,202,154)"></i>
                            <h4 class="mt-2" style="color:rgb(10,202,154)">Registro Empresa</h4>
                        </div>
                        <form>
                           <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label" style="color:rgb(10,202,154)">Ingrese la Contraseña</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword2" class="form-label" style="color:rgb(10,202,154)">Confirme la Contraseña</label>
                                <input type="password" class="form-control" id="exampleInputPassword2">
                            </div>
                            <div class="text-center">
                                <!--Tenemos que cambiar este botón a submit luego-->
                                <button type="button" class="btn btn-primary px-4">Crear Usuario</button>
                            </div>
                            <!--Con el class centramos lo que va a ser el botón y le reducimos 4 pixeles para que se ajuste al contenido-->
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="~{presentation/Fragmentos :: footer}"></footer>
        </body>
</html>